<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Porthas_MightyForms::MightyForms"
             title="MightyForms"
             module="Porthas_MightyForms"
             sortOrder="15"
             resource="Porthas_MightyForms::resource"
        />

        <add id="Porthas_MightyForms::application"
             title="Application"
             module="Porthas_MightyForms"
             sortOrder="9"
             parent="Porthas_MightyForms::MightyForms"
             resource="Porthas_MightyForms::resource"
             action="porthas_mightyforms/application"
        />

        <add id="Porthas_MightyForms::forms"
             title="Forms"
             module="Porthas_MightyForms"
             sortOrder="10"
             parent="Porthas_MightyForms::MightyForms"
             resource="Porthas_MightyForms::resource"
             action="porthas_mightyforms/forms"
        />

    </menu>
</config>